<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip-html | strip-newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>

<body>
    <div class="container">
        <nav class="top-nav row">
            <ul>
                <li><a href="#">Assets</a></li>
                <li><a href="#">Rancher UI</a></li>
                <li><a href="#">Marketing Site</a></li>
            </ul>
        </nav>
        <div class="row">
            <aside class="col span-2">
                <nav>
                    <ul>
                        <li><a href="#logos">Logos</a></li>
                        <li><a href="#colors">Colors</a></li>
                        <li><a href="#typography">Typography</a></li>
                        <li><a href="#copy">Copy & Taglines</a></li>
                        <li><a href="#graphics">Graphics</a></li>
                        <li><a href="#graphics">Templates</a></li>
                        <!--power points etc-->
                    </ul>
                </nav>
            </aside>
            <main class="col span-10">
                <h1>Rancher Marketing Style Guide and Assets</h1>
                <p>Hi there! We've put together a handy dandy style guide to blah blah blah...</p>
                <h2 id="logos">Logos</h2>
                <div class="bg-light-grey p-20">
                <h3>Basic Usage</h3>
                <div class="row">
                    <div class="col span-3 yes">
                        <img src="img/logos/svg/white/rancher-logo-rancher-labs-stacked-wht.svg" class="img-fluid p-10 bg-black" />
                        <p>Light logos are for dark backgrounds and vice versa</p>
                    </div>
                    <div class="col span-3 yes">
                     <img src="img/logos/svg/color/rancher-logo-rancher-labs-stacked-full.svg" class="img-fluid p-10" />
                     <p> Use the Rancher Labs logos when referring to the company</p>
                    </div>
                    <div class="col span-3 yes">
                    <img src="img/logos/svg/color/rancher-logo-stacked-full-color.svg" class="img-fluid p-10" />
                    <p>Use the Rancher logos when referring to the product</p>
                    </div>
                    <div class="col span-3 yes">
                    <img src="img/logos/cow/rancher-logo-cow-blue.svg" class="img-fluid" />
                    <p>Always use a cow with a registration mark</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col span-3 no">
                      <img src="img/logos/svg/color/rancher-logo-rancher-labs-stacked-full.svg" class="img-fluid p-10 bg-black" />
                      <p>Don't use the full color logo on dark backgrounds</p>
                    </div>
                    <div class="col span-3 no">
                      <img src="img/logos/svg/color/rancher-logo-rancher-labs-stacked-full.svg" class="img-fluid p-10" style="background-image: url(http://lorempixel.com/200/100/abstract/);" />
                      <p>...or on a busy <br>background</p>
                    </div>
                    <div class="col span-3 no">
                      <img src="img/nope-logos-registered-rancher-labs-stacked.svg" class="img-fluid p-10" />
                      <p>Don't change the color of the logo</p>
                    </div>
                    <div class="col span-3 no">
                      <img src="img/dealwithit.svg" class="img-fluid glasses" />
                      <img src="img/logos/cow/rancher-logo-cow-blue.svg" class="img-fluid" />
                      <p>Don't obsruct the logo</p>
                    </div>
                </div>
                </div>
                <hr>
                <h3>Horizontal logo</h3>
                <div class="row">
                    <div class="col span-4">
                        <h5>Horizontal Full Color</h5>
                        <img src="img/logos/svg/color/rancher-logo-horiz-full-color.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/color/rancher-logo-horiz-full-color.png" download="rancher-logo-horiz-full-color">Download rancher-logo-horiz-full-color.png</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-horiz-full-color.eps" download="rancher-logo-horiz-full-color">Download rancher-logo-horiz-full-color.eps</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-horiz-full-color.svg" download="rancher-logo-horiz-full-color">Download rancher-logo-horiz-full-color.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Horizontal Black</h5>
                        <img src="img/logos/svg/black/rancher-logo-horiz-blk.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/black/rancher-logo-horiz-blk.png" download="rancher-logo-horiz-blk">Download rancher-logo-horiz-blk.png</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-horiz-blk.eps" download="rancher-logo-horiz-blk">Download rancher-logo-horiz-blk.eps</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-horiz-blk.svg" download="rancher-logo-horiz-blk">Download rancher-logo-horiz-blk.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Horizontal White</h5>
                        <img src="img/logos/svg/white/rancher-logo-horiz-wht.svg" class="img-fluid logo p-10 bg-mid-grey" />
                        <p><a href="img/logos/svg/white/rancher-logo-horiz-wht.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-horiz-wht.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-horiz-wht.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                </div>
                <hr>
                <h3>Stacked logo</h3>
                <div class="row">
                    <div class="col span-4">
                        <h5>Stacked Full Color</h5>
                        <img src="img/logos/svg/color/rancher-logo-stacked-full-color.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/color/rancher-logo-stacked-full-color.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-stacked-full-color.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-stacked-full-color.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Stacked Black</h5>
                        <img src="img/logos/svg/black/rancher-logo-stacked-blk.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/black/rancher-logo-stacked-blk.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-stacked-blk.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-stacked-blk.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Stacked White</h5>
                        <img src="img/logos/svg/white/rancher-logo-stacked-wht.svg" class="img-fluid logo p-10 bg-mid-grey" />
                        <p><a href="img/logos/svg/white/rancher-logo-stacked-wht.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-stacked-wht.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-stacked-wht.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                </div>
                <hr>
                <h3>Rancher Labs logo</h3>
                <div class="row">
                    <div class="col span-4">
                        <h5>Rancher Labs Full Color</h5>
                        <img src="img/logos/svg/color/rancher-logo-rancher-labs-full.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/color/rancher-logo-rancher-labs-full.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-rancher-labs-full.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-rancher-labs-full.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Rancher Labs Black</h5>
                        <img src="img/logos/svg/black/rancher-logo-rancher-labs-blk.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/black/rancher-logo-rancher-labs-blk.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-rancher-labs-blk.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-rancher-labs-blk.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Rancher Labs White</h5>
                        <img src="img/logos/svg/white/rancher-logo-rancher-labs-wht.svg" class="img-fluid logo p-10 bg-mid-grey" />
                        <p><a href="img/logos/svg/white/rancher-logo-rancher-labs-wht.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-rancher-labs-wht.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-rancher-labs-wht.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                </div>
                <hr>
                <h3>Stacked Rancher Labs logo</h3>
                <div class="row">
                    <div class="col span-4">
                        <h5>Stacked Rancher Labs Full Color</h5>
                        <img src="img/logos/svg/color/rancher-logo-rancher-labs-stacked-full.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/color/rancher-logo-rancher-labs-stacked-full.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-rancher-labs-stacked-full.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/color/rancher-logo-rancher-labs-stacked-full.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Stacked Rancher Labs Black</h5>
                        <img src="img/logos/svg/black/rancher-logo-rancher-labs-stacked-blk.svg" class="img-fluid logo p-10" />
                        <p><a href="img/logos/svg/black/rancher-logo-rancher-labs-stacked-blk.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-rancher-labs-stacked-blk.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/black/rancher-logo-rancher-labs-stacked-blk.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                    <div class="col span-4">
                        <h5>Stacked Rancher Labs White</h5>
                        <img src="img/logos/svg/white/rancher-logo-rancher-labs-stacked-wht.svg" class="img-fluid logo p-10 bg-mid-grey" />
                        <p><a href="img/logos/svg/white/rancher-logo-rancher-labs-stacked-wht.png" download="proposed-file-name">Download name-of-file.png</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-rancher-labs-stacked-wht.eps" download="proposed-file-name">Download name-of-file.eps</a></p>
                        <p><a href="img/logos/svg/white/rancher-logo-rancher-labs-stacked-wht.svg" download="proposed-file-name">Download name-of-file.svg</a></p>
                    </div>
                </div>
                <hr>
                <h2 id="colors">Colors</h2>
                <div class="row">
                    <div class="col span-2">
                        <div title="$primary" class="dot bg-primary">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Primary</p>
                    </div>
                    <div class="col span-2">
                        <div title="$secondary" class="dot bg-secondary">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Secondary</p>
                    </div>
                    <div class="col span-2">
                        <div title="$light-grey" class="dot bg-light-grey">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Light Grey</p>
                    </div>
                    <div class="col span-2">
                        <div title="$mid-grey" class="dot bg-mid-grey">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Mid Grey</p>
                    </div>
                    <div class="col span-2">
                        <div title="$dark-grey" class="dot bg-dark-grey">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Dark Grey</p>
                    </div>
                    <div class="col span-2">
                        <div title="$black" class="dot bg-black">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Black</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col span-2">
                        <div title="$info" class="dot bg-info">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Accent/Info</p>
                    </div>
                    <div class="col span-2">
                        <div title="$success" class="dot bg-success">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Success</p>
                    </div>
                    <div class="col span-2">
                        <div title="$warning" class="dot bg-warning">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Warning</p>
                    </div>
                    <div class="col span-2">
                        <div title="$error" class="dot bg-error">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Error</p>
                    </div>
                    <div class="col span-2">
                        <div title="$disabled" class="dot bg-disabled">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Disabled</p>
                    </div>
                    <div class="col span-2">
                        <div title="$default" class="dot bg-default">
                            <!--         <div class="lighten"></div>
        <div class="darken"></div> -->
                        </div>
                        <p class="text-center">Default</p>
                    </div>
                </div>
                <h1>h1 header</h1>
                <h2>h2 header</h2>
            </main>
        </div>
        <!--end main content-->
        <hr>
        <footer><small>Rancher and the cow logo are registered trademarks or trademarks of Rancher Labs, Inc. in the United States and other countries.  Other brand names mentioned herein are for identification purposes only and may be trademarks of their respective holder(s).  © 2017 Rancher Labs, Inc. All rights reserved.</small></footer>
    </div>
    <!--end container-->
</body>

</html>
