// start content
@import url('https://fonts.googleapis.com/css?family=Prompt');
h1 {
    font-size: 4em;
}

h2 {
    border-bottom: $bg-default 2px solid;
    padding: 10px 0;
}

h5 {
    color: $mid-grey;
    margin: 15px 0 5px 0;
}

p {
    margin: 8px 0;
}

a {
    &:hover {
        text-decoration: none;
        opacity: .5;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 100%;
    min-width: 100%;
}

main {
    padding: 0 100px 0 50px;
}

.sidebar {
    position: fixed;
    height: 100%;
    nav {
        // position: fixed;
        // width: 12.416%;
        // width: 15.416%;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: block;
            text-align: left;
            li {
                a {
                    padding: 10px 15px;
                    margin-bottom: 5px;
                    display: block;
                    width: 100%;
                    background: $light-grey;
                    border-bottom: 0;
                    &:hover {
                        background: lighten($mid-grey, 20);
                        color: $link-color;
                        text-decoration: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

section {
    margin-top: 100px;
}

.sub-section {
    margin-bottom: 50px;
    h3 {
        margin: 0;
        background: $link-color;
        color: white;
        padding: 10px;
    }
    p {
        img {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

//demo
.img-fluid {
    width: 100%;
    height: auto;
}

.yes,
.no {
    position: relative;
    padding: 10px;
    border: solid $light-grey 2px;
    background: white;
    min-height: 175px;
    p {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: 10px;
    }
    img {
        max-height: 75px;
    }
    &:before {
        color: white;
        padding: 3px;
        height: 40px;
        width: 40px;
        display: block;
        border-radius: 50%;
        font-size: .75em;
        text-align: center;
        line-height: 35px;
        position: absolute;
        right: -15px;
        top: -15px;
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
        box-shadow: 0 0 3px rgba($black, .75)
    }
}

.yes {
    &:before {
        content: "yes";
        background: $success;
    }
}

.no {
    &:before {
        content: "nope";
        background: $error;
    }
}

// .glasses {
//     width: 50px;
// }
.deal-cow {
    height: auto;
    width: 160px;
}

.glasses {
    animation: dealwithit ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

@keyframes dealwithit {
    0% {
        opacity: 0;
        transform: translate(0, -50px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.logo {
    height: 100px;
    border: $accent-border solid 5px;
    background: $accent-bg;
}

//colors
.bg-light-grey {
    background: $light-grey;
}

.bg-mid-grey {
    background: $mid-grey;
}

.bg-dark-grey {
    background: $dark-grey;
}

.bg-black {
    background: $black;
}

// .row {
//     padding: 10px 0;
// }
//logos
//colors
.dot {
    width: 100%;
    height: 100px;
    border-radius: 90px;
    position: relative;
}


/* =Nav
-------------------------------------------------------------- */

#nav-trigger {
    display: none;
    text-align: center;
    > span {
        display: inline-block;
        padding: 10px 30px;
        background-color: $secondary;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        width: 100%;
        transition: ease all .5s;
        display: inline-block;
        vertical-align: middle;
        &:hover {
            background-color: $link-color;
        }
        .plus {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            height: 16px;
            width: 16px;
            &:before {
                content: "";
                height: 2px;
                width: 16px;
                background: white;
                display: inline-block;
                position: absolute;
                top: 7px;
            }
            &:after {
              content: "";
                transition: ease-in-out all 600ms;
                height: 16px;
                width: 2px;
                background: white;
                position: absolute;
                left: 23px;
            }
        }
        &.open {
            .plus:after {
                transform: rotate(90deg);
            }
        }
    }
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

nav#nav-mobile li:last-child {
    border-bottom: none;
}

nav#nav-mobile a {
    display: block;
    margin: 0;
}


/* =Media Queries
-------------------------------------------------------------- */

@media all and (max-width: 900px) {
    #nav-trigger {
        display: block;
    }
    nav#nav-main {
        display: none;
    }
    nav#nav-mobile {
        display: block;
    }
}

// ///responsive scaling
@media only screen and (min-width: map-get($breakpoints, large)) {
    // body {
    //   background: rgba(tomato, .2);
    // }
}

@media only screen and (max-width: map-get($breakpoints, medium)) {
    // body {
    //   background: rgba(yellow, .2);
    // }  
    main {
        margin-left: 0;
        padding: 0 20px;
    }
    .bg-light-grey {
        padding: 25px !important;
    }
    .span-2 {
        width: 32%;
        margin: 1% 1.25% 1% 0;
    }
    .span-4 {
        width: 32.333%;
        margin: 1% 1.25% 1% 0;
    }
    .sidebar {
        position: relative;
        width: 100%;
        z-index: 1;
    }
}

@media only screen and (max-width: map-get($breakpoints, small)) {
    // body {
    //   background: rgba(navy, .2);
    // }
    .span-2 {
        width: 32.333%;
        margin: 1% 1% 1% 0;
    }
    .span-4 {
        width: 100%;
        margin: 0;
    }
    .sidebar {
        width: 100%;
        z-index: 1;
    }
}
