    <table border="0" cellspacing="0" cellpadding="0" width="485" style="width: 485px; display: inline-block">
        <tbody>
            <tr valign="top">
                <td style="width: 10px; padding-right:10px;"> <img src="https://s3.amazonaws.com/ucwebapp.wisestamp.com/a20309ee-9fe7-4f16-aaa9-1256a210bcbe/rancherlogocowblue.format_png.resize_200x.png#logo" width="65" height="28.7396694215" alt="photo" style="border-radius: 4px; width: 65px; height: 29px; max-width: 120px;" data-pin-nopin="true"> </td>
                <td class="border-color" style="border-right: 1px solid #78c9cf;"></td>
                <td style="display: inline-block; text-align:initial; font:12px Verdana;color:#646464;padding:0 10px">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="display: inline-block; text-align:initial; font:12px Verdana;color:#646464;"> <b class="text-color theme-font">First Name</b>
                                    <br> <span style="display: inline-block;">Your Title here</span>, <span style="display: inline-block;">Rancher Labs</span> </td>
                            </tr>
                            <tr>
                                <td style="font:12px Verdana; color:#8d8d8d;font-size:12px;padding:5px 0"> <span style="display:inline-block;"><a href="tel:555-555-5555" style="display:inline-block; color:#8d8d8d;text-decoration: none;">555-555-5555</a></span> <span style="color: #78c9cf;display:inline-block;">|</span> <span style="display:inline-block;"><a href="mailto:name@rancher.com" style="display: inline-block; color:#8d8d8d;text-decoration: none;">name@rancher.com</a></span> <span style="color: #78c9cf;display:inline-block;">|</span> <span style="white-space: nowrap;display:inline-block;"><a href="http://rancher.com" rel="nofollow" target="_blank" style="display: inline-block; color:#8d8d8d;text-decoration: none;">rancher.com</a></span> <span style="color: #78c9cf;display:inline-block;">|<br></span> <span style="color:#8d8d8d; display:inline-block;">10050 N Wolfe Road, Suite SW1-272 Cupertino, CA 95014 USA</span> </td>
                            </tr>
                            <tr>
                                <td style="margin-top: 5px">
                                    <a href="http://github.com/rancherio/rancher" target="_blank"><img style="border-radius:0;moz-border-radius:0;khtml-border-radius:0;o-border-radius:0;webkit-border-radius:0;ms-border-radius:0;border: 0;width:16px; height:16px;" width="16" height="16" src="https://s3.amazonaws.com/images.wisestamp.com/icons_32/github.png"></a>&nbsp;
                                    <a href="http://www.facebook.com/rancherlabs" target="_blank"><img style="border-radius:0;moz-border-radius:0;khtml-border-radius:0;o-border-radius:0;webkit-border-radius:0;ms-border-radius:0;border: 0;width:16px; height:16px;" width="16" height="16" src="https://s3.amazonaws.com/images.wisestamp.com/icons_32/facebook.png"></a>&nbsp;
                                    <a href="http://www.linkedin.com/company-beta/4819449/?pathWildcard=4819449" target="_blank"><img style="border-radius:0;moz-border-radius:0;khtml-border-radius:0;o-border-radius:0;webkit-border-radius:0;ms-border-radius:0;border: 0;width:16px; height:16px;" width="16" height="16" src="https://s3.amazonaws.com/images.wisestamp.com/icons_32/linkedin.png"></a>&nbsp;
                                    <a href="http://twitter.com/Rancher_Labs" target="_blank"><img style="border-radius:0;moz-border-radius:0;khtml-border-radius:0;o-border-radius:0;webkit-border-radius:0;ms-border-radius:0;border: 0;width:16px; height:16px;" width="16" height="16" src="https://s3.amazonaws.com/images.wisestamp.com/icons_32/twitter.png"></a>&nbsp;
                                    <a href="http://www.youtube.com/channel/UCh5Xtp82q8wjijP8npkVTBA/" target="_blank"><img style="border-radius:0;moz-border-radius:0;khtml-border-radius:0;o-border-radius:0;webkit-border-radius:0;ms-border-radius:0;border: 0;width:16px; height:16px;" width="16" height="16" src="https://s3.amazonaws.com/images.wisestamp.com/icons_32/youtube.png"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>